:root {
  --color--dark: #2e1018;
  --color--accent: #e66b5b;
  --transparent: transparent;
  --color--light: #feffef;
}

.hero {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  height: 1002px;
  margin-left: auto;
  margin-right: auto;
  padding: 163px 132px 72px;
  display: flex;
}

.s-hero__greeting-wrapper {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.s-hero__h2 {
  color: #2e1018;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-hero__star-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 35.3553px;
  height: 42px;
  text-decoration: none;
  display: flex;
}

.s-hero__text {
  color: #2e1018;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  background-color: transparent;
}

.s-hero__image {
  object-fit: cover;
}

.s-hero__name-span--dark-color {
  color: #2e1018;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.desktop {
  background-color: #feffef;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.navigation {
  z-index: 100;
  grid-column-gap: 5px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: fixed;
  inset: 5% 5% auto auto;
}

.nav__link-wrapper {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
}

.nav__link {
  color: var(--color--dark);
  text-align: right;
  -webkit-text-stroke-color: var(--color--dark);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.nav__bar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.nav__deco-circle {
  border: 2px solid var(--color--dark);
  color: var(--color--dark);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  text-decoration: none;
  display: flex;
}

.s-hero__h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-button__wrapper {
  grid-column-gap: 8px;
  border: 4px solid var(--color--accent);
  border-radius: 40px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  cursor: pointer;
}

.p-button__wrapper:hover {
  background-color: var(--color--accent);
}

.p-button__wrapper:hover .s-hero__text {
  color: var(--color--light);
  transition: color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.p-button__wrapper:hover svg {
  color: var(--color--light);
  transition: color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.s-hero__arrow {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 10px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-9 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 385px;
  left: 385px;
}

.vectors-wrapper-10 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: -160px;
  left: -160px;
}

.about {
  grid-column-gap: 10px;
  background-color: #2e1018;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 1024px;
  padding-top: 8px;
  padding-bottom: 72px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.frame-6 {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 821px;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #e66b5b;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.based-in-aarhus-denmark {
  color: #feffef;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-about__text {
  color: #feffef;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-about__deco--1 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 143px;
  right: -114px;
}

.s-about__deco--2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 144px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 304px;
  right: 50px;
}

.s-about__deco--3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 161px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 665px;
  left: -86px;
}

.deco__oval {
  object-fit: fill;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: none;
  position: absolute;
  top: -65px;
}

.services {
  grid-column-gap: 10px;
  background-color: #feffef;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 132px 120px;
  text-decoration: none;
  display: flex;
}

.frame-7 {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-8 {
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #2e1018;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__text-wrapper {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.s-services__title {
  color: #2e1018;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__price {
  opacity: 0.8;
  color: #2e1018;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-services__button {
  grid-row-gap: 64px;
  background-color: var(--color--accent);
  cursor: pointer;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  text-decoration: none;
  display: flex;
}

.s-services__button-icon {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-width: none;
  height: 39px;
  text-decoration: none;
  display: flex;
}

.projects {
  z-index: 1;
  grid-column-gap: 10px;
  background-color: #feffef;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 132px 72px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-12 {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 512px;
  text-decoration: none;
  display: flex;
}

.frame-13 {
  grid-column-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.project-box {
  grid-row-gap: 64px;
  -webkit-text-fill-color: inherit;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border: 4px solid #2e1018;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 573px;
  height: 400px;
  min-height: 400px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-1 {
  background-image: url("../images/Rectangle-18.png");
}

.project-2 {
  background-image: url("../images/www.digip.lv_summerunrest.png");
}

.frame-14 {
  grid-row-gap: 10px;
  background-color: #e66b5b;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px 32px 20px;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 0;
}

.text-12 {
  color: #feffef;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.footer {
  grid-row-gap: 104px;
  background-color: #2e1018;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 144px 132px 48px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.s-footer__cta_wrapper {
  grid-row-gap: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.p-button__text {
  color: #feffef;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-footer__link-wrapper {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.s-section__section-link-wrapper {
  grid-column-gap: 72px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1178px;
  text-decoration: none;
  display: flex;
}

.s-footer__section-link-text {
  color: #feffef;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-footer__section-link {
  grid-column-gap: 10px;
  border-style: solid;
  border-width: 0 0 4px;
  border-color: #e66b5b #e66b5b var(--transparent);
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  text-decoration: none;
  display: flex;
}

.s-footer__section-link:hover {
  border-bottom-color: var(--color--accent);
}

.s-footer__social-wrapper {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1178px;
  text-decoration: none;
  display: flex;
}

.s-hero__name-span--accent-color {
  color: #e66b5b;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.i-m-aleksis-daugats-0 {
  color: #feffef;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.lets-work-together-0 {
  color: #feffef;
  text-align: center;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.lets-work-together-1 {
  color: #e66b5b;
  text-align: center;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

._2024-aleksis-daugats-0 {
  color: #feffef;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

._2024-aleksis-daugats-1 {
  color: #e66b5b;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.deco__oval--bottom {
  z-index: 0;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 134px;
  text-decoration: none;
  display: none;
  position: absolute;
  bottom: -65px;
}

.s-hero__image-wrapper {
  border: 4px solid #e66b5b;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 450px;
  padding: 30px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.nav__deco-circle-inside--active {
  border: 0px solid var(--color--dark);
  background-color: var(--color--accent);
  color: #2e1018;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  text-decoration: none;
  display: flex;
}

.nav__deco-circle--active {
  aspect-ratio: 1;
  border: 2px solid var(--color--dark);
  color: var(--color--dark);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-decoration: none;
  display: block;
}

.nav__deco-line {
  border: 1px solid var(--color--dark);
  color: #2e1018;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.s-hero__text-wrapper {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

.s-footer__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.s-footer__copyright-wrapper {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1178px;
  text-decoration: none;
  display: flex;
}

.s-footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
}

.s-footer__social-link {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.s-footer__social-link:hover {
  transform: scale(1.2);
}

.s-footer__social-icon {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.a-about__wrapper {
  z-index: 1;
  grid-row-gap: 88px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  height: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 132px;
  padding-right: 132px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.s-about__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.s-about__heading-span--accent-color {
  color: #e66b5b;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__heading {
  color: #2e1018;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__service-wrapper {
  grid-column-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.s-services__hover-icon {
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 108px;
  text-decoration: none;
  display: flex;
}

.s-service__service-box {
  grid-column-gap: 64px;
  border: 4px solid #2e1018;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 254px;
  padding: 48px 32px;
  display: flex;
}

.body {
  background-color: var(--color--light);
}

@media screen and (max-width: 991px) {
  .frame-12 {
    height: auto;
  }

  .frame-13 {
    flex-flow: column;
  }
}
