:root {
  --color--dark: #2e1018;
  --color--accent: #e66b5b;
  --transparent: transparent;
  --color--light: #feffef;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--color--light);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  margin: 0;
  min-height: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/*------- QUICK CLASSES -------*/

.text-light {
  color: var(--color--light);
}

/*------- ELEMENTS -------*/

.primary-button {
  grid-column-gap: 8px;
  border: 4px solid var(--color--accent);
  border-radius: 40px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  cursor: pointer;
  color: var(--color--dark);
}

.primary-button p {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  background-color: transparent;
}

.primary-button svg {
  color: inherit;
}

.primary-button:hover {
  background-color: var(--color--accent);
  color: var(--color--light);
}

.secondary-button {
  grid-column-gap: 8px;
  border: 4px solid var(--color--accent);
  border-radius: 40px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  cursor: pointer;
  color: var(--color--light);
}

.secondary-button p {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  background-color: transparent;
}

.secondary-button svg {
  color: inherit;
}

.secondary-button:hover {
  background-color: var(--color--accent);
}

/*------- NAVIGATION -------*/

nav {
  z-index: 100;
  justify-content: flex-start;
  align-items: end;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 50px 50px auto auto;
}

.nav__link-wrapper {
  gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

nav a {
  color: var(--color--dark);
  text-align: right;
  -webkit-text-stroke-color: var(--color--dark);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav__link-wrapper:hover a {
  font-size: 19px;
}

.nav__deco-circle {
  border: 2px solid var(--color--dark);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 14px;
  aspect-ratio: 1/1;
  text-decoration: none;
  display: flex;
}

.nav__deco-inside {
  background-color: var(--color--accent);
  border-radius: 50%;
  height: 0;
  aspect-ratio: 1/1;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav__link-wrapper:hover .nav__deco-inside {
  height: 6px;
}

/*------- HERO -------*/

.to-top {
  position: fixed;
  inset: auto 50px 50px auto;
  z-index: 100;
  background-color: var(--color--accent);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

/* When the button is visible */
.to-top.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.to-top a {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.to-top img {
  height: 15px;
  width: auto;
  margin-bottom: 3px;
  transition: all 0.2s ease-in-out;
}

.to-top:hover img {
  transform: translateY(-2px);
}

/*------- HERO -------*/

.hero {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1442px;
  height: 1002px;
  margin-left: auto;
  margin-right: auto;
  padding: 163px 132px 72px;
  display: flex;
}

.s-hero__greeting-wrapper {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.s-hero__h2 {
  color: var(--color--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-hero__star-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 35.3553px;
  height: 42px;
  text-decoration: none;
  display: flex;
}

.s-hero__text {
  color: var(--color--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  background-color: transparent;
}

.s-hero__image {
  object-fit: cover;
}

.s-hero__name-span--dark-color {
  color: var(--color--dark);
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-hero__h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.s-hero__arrow {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 10px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-9 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 385px;
  left: 385px;
}

.vectors-wrapper-10 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: -160px;
  left: -160px;
}

.about {
  grid-column-gap: 10px;
  background-color: var(--color--dark);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 1024px;
  padding-top: 8px;
  padding-bottom: 72px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.frame-6 {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 821px;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: var(--color--accent);
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.based-in-aarhus-denmark {
  color: var(--color--light);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-about__text {
  color: var(--color--light);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-about__deco--1 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 143px;
  right: -114px;
}

.s-about__deco--2 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 144px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 304px;
  right: 50px;
}

.s-about__deco--3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 161px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 665px;
  left: -86px;
}

.deco__oval {
  object-fit: fill;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: none;
  position: absolute;
  top: -65px;
}

.services {
  grid-column-gap: 10px;
  background-color: var(--color--light);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 132px 120px;
  text-decoration: none;
  display: flex;
}

.s-services__heading {
  color: var(--color--dark);
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__service-wrapper {
  grid-column-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.s-services__hover-icon {
  object-fit: fill;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 108px;
  text-decoration: none;
  display: flex;
}

.s-service__service-box {
  grid-column-gap: 64px;
  border: 4px solid var(--color--dark);
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 254px;
  padding: 48px 32px;
  display: flex;
}

.frame-7 {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-8 {
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: var(--color--dark);
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__text-wrapper {
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.s-services__title {
  color: var(--color--dark);
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.s-services__price {
  opacity: 0.8;
  color: var(--color--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-services__button {
  grid-row-gap: 64px;
  background-color: var(--color--accent);
  cursor: pointer;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  text-decoration: none;
  display: flex;
}

.s-services__button-icon {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 80px;
  max-width: none;
  height: 39px;
  text-decoration: none;
  display: flex;
}

.projects {
  z-index: 1;
  grid-column-gap: 10px;
  background-color: var(--color--light);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1442px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 132px 72px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.projects-container {
  grid-row-gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 512px;
  text-decoration: none;
  display: flex;
}

.projects-list {
  grid-column-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.project-box {
  grid-row-gap: 64px;
  -webkit-text-fill-color: inherit;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border: 4px solid var(--color--dark);
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 573px;
  height: 400px;
  min-height: 400px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-1 {
  background-image: url("../images/Rectangle-18.png");
}

.project-2 {
  background-image: url("../images/www.digip.lv_summerunrest.png");
}

.project-box:hover .project-content {
  margin-bottom: 16px;
}

.project-content {
  grid-row-gap: 10px;
  background-color: var(--color--accent);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin-bottom: -90px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px 32px 20px;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: 0;
  transition: all 0.4s ease-in-out;
}

.project-name {
  color: var(--color--light);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.footer {
  grid-row-gap: 104px;
  background-color: var(--color--dark);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 144px 132px 48px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.s-footer__cta_wrapper {
  grid-row-gap: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.p-button__text {
  color: var(--color--light);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-footer__link-wrapper {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.s-section__section-link-wrapper {
  grid-column-gap: 72px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1178px;
  text-decoration: none;
  display: flex;
}

.s-footer__section-link-text {
  color: var(--color--light);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.s-footer__section-link {
  grid-column-gap: 10px;
  border-style: solid;
  border-width: 0 0 4px;
  border-color: var(--color--accent) var(--color--accent) var(--transparent);
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  text-decoration: none;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.s-footer__section-link:hover {
  border-bottom-color: var(--color--accent);
}

.s-footer__social-wrapper {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1178px;
  text-decoration: none;
  display: flex;
}

.s-hero__name-span--accent-color {
  color: var(--color--accent);
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.i-m-aleksis-daugats-0 {
  color: var(--color--light);
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.lets-work-together-0 {
  color: var(--color--light);
  text-align: center;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.lets-work-together-1 {
  color: var(--color--accent);
  text-align: center;
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

._2024-aleksis-daugats-0 {
  color: var(--color--light);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

._2024-aleksis-daugats-1 {
  color: var(--color--accent);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.deco__oval--bottom {
  z-index: 0;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 134px;
  text-decoration: none;
  display: none;
  position: absolute;
  bottom: -65px;
}

.s-hero__image-wrapper {
  border: 4px solid var(--color--accent);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 450px;
  padding: 30px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.nav__deco-circle-inside--active {
  border: 0px solid var(--color--dark);
  background-color: var(--color--accent);
  color: var(--color--dark);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  text-decoration: none;
  display: flex;
}

.nav__deco-circle--active {
  aspect-ratio: 1;
  border: 2px solid var(--color--dark);
  color: var(--color--dark);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 2px;
  text-decoration: none;
  display: block;
}

.nav__deco-line {
  border: 1px solid var(--color--dark);
  color: var(--color--dark);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  height: 20px;
  text-decoration: none;
  display: flex;
  margin-right: 6px;
}

.s-hero__text-wrapper {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

.s-footer__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.s-footer__copyright-wrapper {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1178px;
  text-decoration: none;
  display: flex;
}

.s-footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
}

.s-footer__social-link {
  transition: transform 0.2s ease-in-out;
}

.s-footer__social-link:hover {
  transform: scale(1.2);
}

.s-footer__social-icon {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.a-about__wrapper {
  z-index: 1;
  grid-row-gap: 88px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1442px;
  height: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 132px;
  padding-right: 132px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.s-about__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.s-about__heading-span--accent-color {
  color: var(--color--accent);
  text-transform: undefined;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .projects-container {
    height: auto;
  }

  .frame-13 {
    flex-flow: column;
  }
}
